%header#home.jumbotron
  .container
    .row
      .col-sm-6.text-col
        %h1 
          Hi, I am 
          %br Doug Steinberg
        %p full stack Ruby on Rails developer
      .col-sm-6
        .imac-frame
          %img.img-responsive.img-center{:alt => "", :src => "assets/imac.png"}/
          .imac-screen.flexslider
            %ul.slides
              %li
                %img{:alt => "", :src => "assets/placeholder-450x270.jpg"}/
              %li
                %img{:alt => "", :src => "assets/placeholder-450x270.jpg"}/
              %li
                %img{:alt => "", :src => "assets/placeholder-450x270.jpg"}/
