%article.project-item.web-design
  %img.img-responsive.project-image{:alt => "", :src => "assets/placeholder-320x210.jpg"}/
  / Project thumb
  .hover-mask
    %h2.project-title Project Title
    / Project Title
    %p Subtitle
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Category", "data-client" => "Client", "data-date" => "Date", "data-descr" => "A small description goes here.", "data-images" => "assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg", "data-link" => "www.example.com,http://www.google.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      %a.btn.btn-meflat.icon-right{:href => "#external-link"}
        Visit Website
        %i.fa.fa-arrow-right
/
  \==============================================
  END PROJECT ITEM
  \===============================================
%article.project-item.icons
  %img.img-responsive.project-image{:alt => "", :src => "assets/placeholder-320x210.jpg"}/
  / Project thumb
  .hover-mask
    %h2.project-title Project Title
    / Project Title
    %p Subtitle
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Category", "data-client" => "Client", "data-date" => "Date", "data-descr" => "A small description goes here.", "data-images" => "assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg", "data-link" => "www.example.com,http://www.google.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      %a.btn.btn-meflat.icon-right{:href => "#external-link"}
        Visit Website
        %i.fa.fa-arrow-right
/ End Project Item
%article.project-item.web-design
  %img.img-responsive.project-image{:alt => "", :src => "assets/placeholder-320x210.jpg"}/
  / Project thumb
  .hover-mask
    %h2.project-title Project Title
    / Project Title
    %p Subtitle
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Category", "data-client" => "Client", "data-date" => "Date", "data-descr" => "A small description goes here.", "data-images" => "assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg", "data-link" => "www.example.com,http://www.google.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      %a.btn.btn-meflat.icon-right{:href => "#external-link"}
        Visit Website
        %i.fa.fa-arrow-right
/ End Project Item
%article.project-item.icons
  %img.img-responsive.project-image{:alt => "", :src => "assets/placeholder-320x210.jpg"}/
  / Project thumb
  .hover-mask
    %h2.project-title Project Title
    / Project Title
    %p Subtitle
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Category", "data-client" => "Client", "data-date" => "Date", "data-descr" => "A small description goes here.", "data-images" => "assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg", "data-link" => "www.example.com,http://www.google.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      %a.btn.btn-meflat.icon-right{:href => "#external-link"}
        Visit Website
        %i.fa.fa-arrow-right
/ End Project Item
%article.project-item.ui-kits
  %img.img-responsive.project-image{:alt => "", :src => "assets/placeholder-320x210.jpg"}/
  / Project thumb
  .hover-mask
    %h2.project-title Project Title
    / Project Title
    %p Subtitle
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Category", "data-client" => "Client", "data-date" => "Date", "data-descr" => "A small description goes here.", "data-images" => "assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg", "data-link" => "www.example.com,http://www.google.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      %a.btn.btn-meflat.icon-right{:href => "#external-link"}
        Visit Website
        %i.fa.fa-arrow-right
/ End Project Item
%article.project-item.ui-kits
  %img.img-responsive.project-image{:alt => "", :src => "assets/placeholder-320x210.jpg"}/
  / Project thumb
  .hover-mask
    %h2.project-title Project Title
    / Project Title
    %p Subtitle
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Category", "data-client" => "Client", "data-date" => "Date", "data-descr" => "A small description goes here.", "data-images" => "assets/placeholder-750x430.jpg,assets/placeholder-750x430.jpg", "data-link" => "www.example.com,http://www.google.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      %a.btn.btn-meflat.icon-right{:href => "#external-link"}
        Visit Website
        %i.fa.fa-arrow-right
/ End Project Item
/ End projects
/ End container
/
\==============================================
PROJECT PREVIEW MODAL (Do not alter this markup)
\===============================================
#project-modal.modal.fade
.modal-dialog
.modal-content
  .modal-header
    .container
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h1#hdr-title.text-center
      .row
        .col-md-8.col-md-offset-2
          .image-wrapper
            %img.img-responsive{:alt => "", :src => "assets/chrome.png"}/
            .loader
            .screen
  .modal-body
    .container
      .row
        #project-sidebar.col-md-3
          %h2#sdbr-title
          %p#sdbr-category
          %p#sdbr-date
          %p#sdbr-client
          %p#sdbr-link
            %a{:href => "#link", :target => "_blank"}
          %p#sdbr-descr
        #project-content.col-md-8.col-md-offset-1
