%section#about.dark-bg.light-typo.padding-top-bottom
  .container
    %header.section-header.text-center
      %h1.scrollimation.scale-in About Me
    .row
      .col-sm-8.col-sm-offset-2
        =image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('dstein-phins@hotmail.com')}?s=150", class: "img-responsive img-center img-circle scrollimation fade-left" 
      
      
        %p.text-center.scrollimation.fade-in 
          I'm a young guy living in sunny South Florida. I became interested in web development and programming in early 2013 and have been hooked ever since. I currently work for a boat dealership called Dusky Sportcenter. I created and maintain thier 
          =link_to 'web site', 'http://www.duskyonline.com'
          %br I started learning Ruby on Rails with 
          =link_to 'Tealeaf Academy', 'http://www.gotealeaf.com'
          in May 2014 and finished in November. I'm looking for a full time position as a Ruby web developer, but I'm also available for freelance work or fun projects and intersting projects.
        %p.text-center.scrollimation.fade-in Aside from programming I like to pass the time playing guitar, mountain biking, and binge watching Game of Thrones with my fiance on the couch.

    %p.text-center
      %a.btn.btn-meflat.scrollto.white.icon-left{:href => "#contact"}
        %i.fa.fa-arrow-down>
        Hire Me
=render 'main/skills'