%article.project-item.ui-kits
  =image_tag "/assets/images/projects/dusky-small.jpg", class: "img-responsive.project-image" 
  / Project thumb
  .hover-mask
    %h2.project-title Dusky Sport Center
    / Project Title
    %p Boat dealer web site with a custom CMS and Ecommerce with Miva Merchant
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "PHP, Miva Merchant, e-commerce", "data-date" => "2014", "data-descr" => "Informational and E-Commerce Site for Dusky Sport Center.", "data-images" => "/assets/images/projects/dusky1.jpg, /assets/images/projects/dusky2.jpg, /assets/images/projects/dusky3.jpg,/assets/images/projects/dusky4.jpg,/assets/images/projects/dusky5.jpg,/assets/images/projects/dusky6.jpg,/assets/images/projects/dusky7.jpg,/assets/images/projects/dusky8.jpg,/assets/images/projects/dusky9.jpg", "data-link" => "www.duskysportcenter.com, http://www.duskysportcenter.com"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      =link_to 'http://www.duskysportcenter.com' do
        %button.btn.btn-meflat.icon-right
          Visit Website
          %i.fa.fa-arrow-right