%article.project-item.ui-kits
  =image_tag "/assets/images/projects/myflix-small.jpg", class: "img-responsive.project-image" 
  / Project thumb
  .hover-mask
    %h2.project-title Myflix
    / Project Title
    %p Netflix Clone
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Ruby on Rails, TDD", "data-date" => "2014", "data-descr" => "Clone of Netflix.com built with Ruby on Rails and Test Driven Design durring Tealeaf Academy's 'Build Robust and Production Quality Applications' course", "data-images" => "/assets/images/projects/myflix1.jpg,/assets/images/projects/myflix2.jpg, /assets/images/projects/myflix3.jpg, /assets/images/projects/myflix4.jpg, /assets/images/projects/myflix5.jpg, /assets/images/projects/myflix6.jpg, /assets/images/projects/myflix7.jpg, /assets/images/projects/myflix8.jpg, /assets/images/projects/myflix9.jpg, /assets/images/projects/myflix10.jpg, /assets/images/projects/myflix11.jpg", "data-link" => "myflix-doug.herokuapp.com, http://myflix-doug.herokuapp.com", "data-github" => "https://github.com/doug7410/myflix"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      =link_to 'http://myflix-doug.herokuapp.com' do
        %button.btn.btn-meflat.icon-right
          Visit Website
          %i.fa.fa-arrow-right