%article.project-item.ui-kits
  =image_tag "projects/blackjack-small.jpg", class: "img-responsive.project-image" 
  / Project thumb
  .hover-mask
    %h2.project-title Blackjack
    / Project Title
    %p Web based Blackjack game
    / Project Subtitle
  / ==== Project Preview HTML ====
  .sr-only.project-description{"data-category" => "Ruby, Sinatra", "data-date" => "2014", "data-descr" => "Web based Blackjack game built on the Sinatra framework", "data-images" => "/assets/images/projects/blackjack1.jpg, /assets/images/projects/blackjack2.jpg, /assets/images/projects/blackjack3.jpg", "data-link" => "dougs-blackjack.herokuapp.com, http://dougs-blackjack.herokuapp.com", "data-github" => "https://github.com/doug7410/tl-blackjack-webapp"}
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
    %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
    %p.text-right
      =link_to 'http://dougs-blackjack.herokuapp.com' do
        %button.btn.btn-meflat.icon-right
          Visit Website
          %i.fa.fa-arrow-right