%footer#main-footer.dark-bg.light-typo
  .container
    %hr/
    .row
      .col-sm-6
        %ul.social-links
          %li.scrollimation.fade-right.d4
            =link_to 'https://twitter.com/doug7410', target: 'blank' do
              %i.fa.fa-twitter.fa-fw
          %li.scrollimation.fade-right.d3
            =link_to 'https://www.facebook.com/doug.steinberg.14', target: 'blank' do
              %i.fa.fa-facebook.fa-fw
          %li.scrollimation.fade-right.d2
            =link_to 'https://plus.google.com/u/0/+DougSteinberg7410/posts', target: 'blank' do
              %i.fa.fa-google-plus.fa-fw
          %li.scrollimation.fade-right.d1
            =link_to 'https://github.com/doug7410', target: 'blank' do
              %i.fa.fa-github.fa-fw
          %li.scrollimation.fade-right
            =link_to 'www.linkedin.com/in/dougsteinberg', target: 'blank' do
              %i.fa.fa-linkedin.fa-fw
      .col-sm-6.text-right.scrollimation.fade-in
        %p ©2014 Doug Steinberg
 
/ Start of StatCounter Code for Default Guide
:javascript
  var sc_project=10208321; 
  var sc_invisible=0; 
  var sc_security="870255ef"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
%noscript
  .statcounter
    %a{:href => "http://statcounter.com/", :target => "_blank", :title => "site stats"}
      %img.statcounter{:alt => "site stats", :src => "http://c.statcounter.com/10208321/0/870255ef/0/"}/
/ End of StatCounter Code for Default Guide