%footer#main-footer.dark-bg.light-typo
  .container
    %hr/
    .row
      .col-sm-6
        %ul.social-links
          %li.scrollimation.fade-right.d4
            %a{:href => "#link"}
              %i.fa.fa-twitter.fa-fw
          %li.scrollimation.fade-right.d3
            %a{:href => "#link"}
              %i.fa.fa-facebook.fa-fw
          %li.scrollimation.fade-right.d2
            %a{:href => "#link"}
              %i.fa.fa-google-plus.fa-fw
          %li.scrollimation.fade-right.d1
            %a{:href => "#link"}
              %i.fa.fa-dribbble.fa-fw
          %li.scrollimation.fade-right
            %a{:href => "#link"}
              %i.fa.fa-linkedin.fa-fw
      .col-sm-6.text-right.scrollimation.fade-in
        %p
          \©2014 Me Flat Theme by
          %a{:href => ""} Qthemes